<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuickFlight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D3E84561E42DEA90078E17D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D3E846A1E42DEAA0078E17D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D3E84751E42DEAA0078E17D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
